<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Auth0:Domain" value="everbetter.us.auth0.com"/>
    <add key="Auth0:ClientId" value="WJkTy6o6JipNtSRMagGU33q90AoTmbT5"/>
    <add key="Auth0:Audience" value="https://everbetter.azurewebsites.net/"/>
    <add key="API:Endpoint" value="https://everbetterapp.azurewebsites.net/api/v1/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
